language: python
python:
  - 2.7
before_install:
  - sudo apt-get install python-uno
install:
  - mkdir -p buildout-cache/{eggs,downloads}
  - python bootstrap.py -c travis.cfg
  - bin/buildout -Nc travis.cfg
before_script:
  - soffice --headless --accept="socket,port=2002;urp;"&
script:
  - bin/test
after_script:
  - killall soffice.bin
notifications:
  email:
    - travis-reports@ecreall.com
